Source: picocoin
Priority: optional
Maintainer: Joel Manuel De Jesus (Work Account) <dejesus.joel@e-flamingo.net>
Build-Depends: debhelper (>= 9),  libcrypto++-dev, libevent-dev, libjansson-dev, libc6-dev (>=2.19), valgrind, dh-autoreconf, libssl-dev, libgmp-dev, autotools-dev
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/favioflamingo/picocoin
Vcs-Git: https://github.com/favioflamingo/picocoin.git
Vcs-Browser: https://github.com/favioflamingo/picocoin

Package: libccoin-dev
Section: libdevel
Architecture: any
Depends: libccoin0 (= ${binary:Version}), ${misc:Depends}
Description: bitcoin library - development files
 This package contains headers for bitcoin c functions that allow for bitcoin
 operations and connection to the bitcoin network.

Package: libccoin0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: bitcoin library - shared library
 This package contains bitcoin c functions that allow for bitcoin 
 operations and connection to the bitcoin network.

Package: picocoin
Section: misc
Architecture: any
Depends: libccoin0 (= ${binary:Version}),  ${misc:Depends}
Description: spv client and block utilities
 This package contains binaries that include an spv client
 and block analyzers.
